<li class="friends__item js-friends-item" data-friend-id="{{friend.id}}" data-friend-name="{{friend.first_name}} {{friend.last_name}}">
  <div class="friends__info js-friend-info">
    <img src="{{friend.photo_100}}" class="friends__photo">
    <div class="friends__name">{{friend.first_name}} {{friend.last_name}}</div>
  </div>
  <button class="friends__button {{selectButtonIcon isSelected}} js-select-button" data-action="select"></button>
</liclass>